<% layout("layout/boilerplate") %>
<div class="container d-flex justify-content-center align-items-start pt-5 vh-100">
    <div class="text-center">
        <h1 class="mb-4">ようこそ！</h1>
        <a href="/login" class="btn btn-primary btn-lg me-3">ログイン</a>
        <a href="/register" class="btn btn-secondary btn-lg">新規登録</a>
    </div>
</div>