.navbar-custom {
    background-color: #082627;
    /* cinnamon */
}

body {
    background-color: #F9FCFD;
    /*クリーム色  */
    padding-bottom: 2rem;
    /* フッターとの間に余白を確保 */
    color: #082627;
    padding-bottom: 10vh;
}


.card {
    background-color: #28A6A5;
    color: #F9FCFD;
}

.btn-primary {
    background-color: #2a09ff;
    border-color: #2a09ff;
}

.btn-primary:hover {
    border-color: #19078e;
    background-color: #19078e;
}

.regbtn {
    margin: 15px auto;
}

.logbtn {
    margin: 15px auto;
}

.modal-header h1,
h5 {
    color: #082627;
}

.modal-body label {
    color: #082627;
}

.container {
    margin: 10% auto;
}

/* 「あと一人」の日をカード風に見せるスタイル */
.match-section ul {
    background-color: #fffbe6;
    /* 薄い黄色 */
    border: 1px solid #ffe58f;
    border-radius: .375rem;
    padding: 1rem;
    list-style-position: inside;
    color: #082627;
}

/* 各セクション間の余白 */
.management-actions,
.results-container,
.bottom-actions {
    margin-top: 2rem;
}

/* ボタンが横に並ぶように調整 */
.management-actions,
.bottom-actions {
    display: flex;
    gap: 1rem;
    /* ボタン間の隙間 */
    align-items: center;
}


/* 可能日選択フォーム */
.select-date {
    color: #082627;
    background-color: #d5f8ef;
}

.my-fixed-footer {
    /* 画面の下に固定する */
    display: flex;
    align-items: center;
    position: fixed;
    align-items: center;
    bottom: 0;
    width: 100%;
    /* 画面の幅いっぱいに広げる */

    /* 高さを画面の20分の1にする */
    height: 10vh;

    /* 他の要素より手前に表示するため */
    z-index: 1000;
}